:root {
    --primary-text-color: #757575;
    --title-text-color: #212121;
    --accent-color: #2196F3;
    --primary-white-color: #ffffff;
    --secondary-bg-color: #F5F4FA }

    body {
        background-color: var(--primary-white-color);
        color: var(--primary-text-color); font-family: 'Roboto';}
     a {text-decoration: none;}   
        .list {
            list-style: none;

          }
  footer {background-color: #2F303A;}      
 h1 {color: var(--primary-white-color); 
    font-weight: 900;}
  
 h2 {color: var(--title-text-color); font-weight: 700;}
 h3 {color: var(--title-text-color); 
    font-weight: 700;}
 .portfolio p {color: var(--primary-text-color);}
 .site-logo {color: var(--accent-color); font-family: 'Raleway';
    font-weight: 700}
    .studio-header { color: #000000;}
    .studio-footer {color: var(--primary-white-color);}
 .contact { color: var(--primary-text-color); font-weight: 500;
}
.site-nav {font-weight: 500;}
.hero {background-color: #2F303A;}
.hero button {color: var(--primary-white-color); background-color: var(--accent-color); font-weight: 700;}
.team {background-color: #F5F4FA;}
.team h3 {font-weight: 500;}
.contact:hover {color: var(--accent-color);}
.contact:focus {color: var(--accent-color);}
.site-nav .link {color: var(--title-text-color);}
.site-nav .link:hover {color: var(--accent-color);}
.site-nav .link:focus {color: var(--accent-color);}
address {color: var(--primary-white-color); font-style: normal;}


 